<div class="heroDiv">
  <div class="heroContent">
    <div class="destacados">
      <h1>LA CASA DE PAPEL</h1>
      <h2>Ver temporada 5 ahora</h2>
      <h3>
        Ocho atracadores toman rehenes en la Fábrica Nacional de Moneda y Timbre
        española. Desde el encierro, su líder manipula a la policía para llevar
        a cabo un ambicioso plan
      </h3>
      <div class="buttonsDiv">
          <button class="whiteButton"><img src="../../../../../assets/images/Icons/play-64.png" alt="">Reproducir</button>
          <button class="greyButton"><img src="../../../../../assets/images/Icons/info-2-64.png" alt="">Más Información</button>
      </div>
    </div>
  </div>
</div>
