<nav>
  <div class="logoLinks">
    <img class="logoImg" src="{{ nav.logo.src }}" alt="{{ nav.logo.alt }}" />

    <div class="navLinks">
      <ul>
        <li><strong>Inicio</strong></li>
        <li>Series TV</li>
        <li>Películas</li>
        <li>Novedades más vistas</li>
        <li>Mi lista</li>
      </ul>
    </div>
  </div>
  <div class="menuDiv">
    <div class="icons">
      <img
        class="lupa"
        src="../../../../../assets/images/Icons/zoom-32.png"
        alt="Buscar"
      />
      <img
        class="campana"
        src="../../../../../assets/images/Icons/bell-3-32.png"
        alt="Notificaciones"
      />
      <img
        class="avatar"
        src="../../../../../assets/images/Icons/Netflix-avatar.png"
        alt="Avatar de usuario"
      />
    </div>
  </div>
</nav>
