<div class="footerDiv">
  <div class="iconsDiv">
    <div class="itemDiv" *ngFor="let image of footer.icons">
      <img src="{{ image.src }}" alt="{{ image.alt }}" />
    </div>
  </div>
  <div class="linksDiv">
    <ul>
      <li>Audio y Subtítulos</li>
      <li>Audiodescripción</li>
      <li>Centro de Ayuda</li>
      <li>Tarjetas Regalo</li>
      <li>Zona de prensa</li>
      <li>Inversores</li>
      <li>Empleo</li>
      <li>Términos de uso</li>
      <li>Privacidad</li>
      <li>Avisos Legales</li>
      <li>Preferencias de cookies</li>
      <li>Información corporativa</li>
      <li>Contáctanos</li>
    </ul>
  </div>
  <div class="buttonDiv">
    <button>Código de Servicio</button>
  </div>
  <div class="copyrightDiv">
    <p>
      © Alfonso Cifuentes - Este sitio web es una reproducción de la web oficial
      de Netflix, realizada únicamente con motivos de aprendizaje.
    </p>
    <p>
      No se pretende con esta web suplantar la identidad de Netflix, y cualquier
      uso de esta página con fines lucrativos o que puedan dañar la imagen tanto
      de Netflix como de Alfonso Cifuentes serán perseguidos por la ley,
      despellejados y arrojados a la hoguera, mientras una horda de perros
      cimarrones espera para devorar el cadáver cuando aún esté humeante. Te
      reviento payaso.
    </p>
  </div>
</div>
