<app-nav [nav]="netflixModel.nav"></app-nav>
<app-hero [hero]="netflixModel.hero"></app-hero>
<app-top10 [top10]="netflixModel.top10"></app-top10>
<app-films [films]="netflixModel.films"></app-films>
<app-films [films]="accionMovies"></app-films>
<app-films [films]="scifiMovies"></app-films>
<app-films [films]="terrorMovies"></app-films>
<app-films [films]="dramaMovies"></app-films>
<app-films [films]="animeMovies"></app-films>
<app-films [films]="comediaMovies"></app-films>
<app-footer [footer]="netflixModel.footer"></app-footer>
